body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* book section css */
.book_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border: 1px solid black;
    
}

.bestseller-books{
  display: none;
}

.book_picture{
    width: 100%;
    height: 40vh;
}
.book_picture img{
    width: 100%;
    height: 100%;
}
.book_text{
    display: flex;
    justify-content: space-evenly;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem 1rem 1rem;
}

.book_text .b-left{
    width: 60%;
    margin-top: 0.5rem;
}

.b-left h2{
    font-size: 1rem;
    margin: 0;
    font-family: "JetBrains Mono", serif;
}
.b-right h3, .book_price{
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: "JetBrains Mono", serif;
}
.book_price{
  border: none;
  background: none;
  margin-bottom: 1rem;
}
.b-left h5{
    font-size: 0.9rem;
    color: gray;
    margin-top: 0.2rem;
    font-family: "JetBrains Mono", serif;
}

/* buttons css */
.buttons a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    background-color: #1A3952;
    border-radius: 4px;
    font-family: "JetBrains Mono", serif;
}

.buy_button{
    background-color: #1A3952;
    border-radius: 4px;
    padding: 0.5rem;
    color: white;
    width: 18vh;
    font-size: 1rem;
    font-family: "JetBrains Mono", serif;
}

.quantity {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .quantity h5{
    margin-top: 0;
    font-size: 0.9rem;
    font-family: "JetBrains Mono", serif;
  }
  .quantity span{
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    position: relative;
    left: -10%;
  }
  .quantity input {
    background: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }

  .search_container{
    width: 100%;
    margin-bottom: 2rem;
  }
  .search_container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search{
    width: 79%;
    height: 6vh;
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
    color: black;
    font-family: "JetBrains Mono", sans-serif;
    padding-inline-start: 1rem;
}

input[type=submit]{
  margin-top: 0.5rem;
  padding: 1rem;
  width: 40%;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  background-color: #1A3952;
}

input[type=submit]:hover, input[type=submit]:focus{
  background-color: #888;
} 
/* cart css */
.cart_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}


.cart_table th, .cart_table td {
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 1rem;
  font-family: "JetBrains Mono", serif;
  vertical-align: middle;
  border: 1px solid #0e0d0d;
}

.cart_table th {
  background-color: rgb(227, 231, 227);
  font-weight: bold;
}

.cart_table td:nth-child(2), .cart_table td:nth-child(3), .cart_table td:nth-child(4), .cart_table td:nth-child(5) {
  text-align: center;
}

.cart_table td:last-child {
  text-align: center;
}

.cart_table tr:last-child td:first-child {
  text-align: right;
  font-weight: bold;
}


.delete_btn {
  background: none;
  color: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.checkout_button{
  padding: 1rem;
  background: none;
  color: block;
  border-radius: 4px;
  font-size: 1rem;
  margin-left: 5%;
  font-family: "JetBrains Mono", serif;
}

.cart_container >p> a, .cart_container P{
  color:black;
  font-size: 1rem;
  margin-left: 5%;
  font-family: "JetBrains Mono", sans-serif;
}

.cart_container h1{
  font-size: 1.3rem;
  color: black;
  font-family: "JetBrains Mono", serif;
  text-align: center;
}


  /* Checkout Modal Styles */
  .modal {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px 20px 40px ;
    border: 1px solid #888;
    font-family: "JetBrains Mono", serif;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #paymentForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  #paymentForm input[type="text"],
  #paymentForm input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "JetBrains Mono", serif;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .buy-btn {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    margin-top: -1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  .buy-btn:hover {
    background-color: #45a049;
  }


  @media screen and (min-width: 468px){
    .main-content-container{
      gap: 4%;
    }
    .book_container{
          width: 40%;
          margin-top: 6rem;
          display: flex;
          flex-direction: column;
          background-color: white;
          border: 1px solid black;
            
      }
  
      .bestseller-books{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
      }
  
      .bestseller-book-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
  
      .bestseller-books header h2{
        font-family: "Sofia", sans-serif;
        margin-top: 0;
      }
  
      .bestseller-book{
        width: 45%;
        padding: 0.5rem;
        border-radius: 8px;
        border: 1px solid rgba(0,0,0,0.4);
        cursor: pointer;
      }
  
      .bestseller-book img{
        height: 100%;
        width: 100%;
      }
  
      .search_container{
        width: 100%;
      }

      .search_container form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input[type=text]{
        width: 85%;
      }

      .book_picture{
        width: 100%;
        height: 40vh;
    }
    .book_picture img{
        width: 100%;
        height: 100%;
    }
    .book_text{
        display: flex;
        justify-content: space-evenly;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        padding: 0rem 1rem 1rem 1rem;
    }
    
    .book_text .b-left{
        width: 60%;
        margin-top: 0.5rem;
    }
    
    .b-left h2{
        font-size: 1rem;
        margin: 0;
        font-family: "JetBrains Mono", serif;
    }
    .b-right h3, .book_price{
        font-size: 1rem;
        margin-top: 0.5rem;
        font-family: "JetBrains Mono", serif;
    }
    .book_price{
      border: none;
      background: none;
      margin-bottom: 1rem;
    }
    .b-left h5{
        font-size: 0.9rem;
        color: gray;
        margin-top: 0.2rem;
        font-family: "JetBrains Mono", serif;
    }
    
    /* buttons css */
    .buttons a{
        color: white;
        text-decoration: none;
        padding: 1rem;
        background-color: #1A3952;
        border-radius: 4px;
        font-family: "JetBrains Mono", serif;
    }
    
    .buy_button{
        background-color: #1A3952;
        border-radius: 4px;
        padding: 0.5rem;
        color: white;
        width: 18vh;
        font-size: 1rem;
        font-family: "JetBrains Mono", serif;
    }
    
    .quantity {
        display: flex;
        flex-direction: column;
        margin-top: 0;
      }
      .quantity h5{
        margin-top: 0;
        font-size: 0.9rem;
        font-family: "JetBrains Mono", serif;
      }
      .quantity span{
        margin-top: -0.5rem;
        margin-bottom: 1rem;
        position: relative;
        left: -10%;
      }
      .quantity input {
        background: none;
        border: none;
        text-align: center;
        width: 32px;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
      }
       
      .minus-btn img {
        margin-bottom: 3px;
      }
      .plus-btn img {
        margin-top: 2px;
      }
       
      button:focus,
      input:focus {
        outline:0;
      }
    
  }

