body{
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", serif;
}

details{
    cursor: pointer;
}

/* Faqs container css */
.faqs_container{
    padding-inline-start: 1rem;
    padding-left: 1rem;
}

.faqs_container h1{
    font-size: 1.5rem;
    color: black;
    font-family: "JetBrains Mono", sans-serif;
}
.faqs_container h5{
    font-size: 1rem;
    max-width: 90%;
    color: black;
    font-family: "JetBrains Mono", serif;
}
.faqs_container h5 a{
    color:limegreen;
    text-decoration: underline;
    text-decoration-color: white;
}

.faqs header h3, .more_questions header h3{
    font-size: 1rem;
    color: gray;
    font-family: "JetBrains Mono", serif;
    margin-bottom: 0;
}
.faqs p, .more_questions p{
    font-size: 1rem;
    font-family: "JetBrains Mono", sans-serif;
    color: black;
    max-width: 90%;
}
input::placeholder{
    font-family: "JetBrains Mono", sans-serif; 
}
.more_questions{
    margin-bottom: 2rem;
}
.more_questions .questions{
    width: 87%;
    height: 8vh;
    border-radius: 6px;
    padding-inline-start: 1rem;
}
.more_questions .submit_message{
    width: 60%;
    margin-left: 18%;
    margin-top: 1rem;
    color:  black;
    background-color: inherit;
    padding: 1rem;
    font-family: "JetBrains Mono", sans-serif; 
}

@media screen and (min-width: 850px){
    section{
        width: 95%;
    }

    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 1.5rem;
        align-items: center;
        width: 100%;
    }
    .more_questions .submit_message{
        width: 35%;
        margin-left: 0;
    }

    .more_questions .questions{
        width: 60%;
        height: 5rem;
        font-size: 1.2rem;
    }

    input[type=submit]:hover, input[type=submit]:focus{
        background-color: rgb(196, 196, 196);
    }
}