form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: "JetBrains Mono", sans-serif;
}
input{
    width: 85%;
    height: 2vh;
    padding: 1rem;
    font-size: 1rem;
    font-family: "JetBrains Mono", sans-serif;
}
.book_image{
    color: black;
    font-size: 1rem;
    font-family: "JetBrains Mono", sans-serif;
}
label{
    color: black;
    font-size: 1rem;
    font-family: "JetBrains Mono", sans-serif;
    align-self: start;
    padding: 0.5rem;
}

.add_button{
    padding: 1rem 1rem 2rem 1rem;
    width: 60%;
    margin-top: 1rem;
}

/* CSS for the success alert */
/* CSS for the success alert */
.alert {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border-radius: 0 0 0 5px;
    transition: transform 0.5s ease-in-out; /* Add a smooth transition for hiding */
}

/* CSS to hide the alert by default */
.hidden {
    display: none;
}

/* CSS for the close button (×) */
.closebtn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
