@media only screen and (max-width: 991.9px){
    body{
        background: rgb(211, 210, 210);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85%;
        text-align: start;
        border-radius: 18px;
        background: rgb(228, 220, 220);
        position: relative;
        margin-top: 7%;
        box-shadow: 2px 2px 2px 2px white;
    }
    h5{
        font-family: cursive;
        color: gray;
        font-style: oblique;
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 1rem;
        max-width: 80%;
        text-align: start;
    }
    h1{
          font-family: cursive;
        color: gray;
        font-style: oblique;
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 1rem;
        max-width: 80%;
    }
    h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    a{
        text-decoration: none;
    }
    ::placeholder{
        color: gray;
    }
    .input{
        border: 0.5rem thin gray;
        border-radius: 12px;
        padding-left: 1rem;
        background-color: transparent;
        color: black;
        font-size: 1.2rem;
        width: 75%;
        height: 3.5rem;
        margin-bottom: 1.3rem;
    }
    label{
        padding-left: 1.5rem;
        align-self: flex-start;
        font-family: cursive;
        color: gray;
        font-style: oblique;
        font-size: 1rem;
        margin-top: 0.3rem;
    }
    .picture{
        min-height: 4vh;
        padding: 1rem 1rem 1rem 1.5rem ;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-bottom: 0;
    }
    .input::placeholder{
        padding-left: 0.3rem;
    }
    .submit{
        border: none;
        border-radius: 12px;
        background-color: rgb(30, 33, 214);
        color: white;
        font-size: 1.2rem;
        text-align: center;
        width: 12rem;
        height: 3rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    p.error{
        color: red ;
        font-size: 1rem;
        animation-name: error;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes error{
       0%{
        color: red;
       }
       25%{
        color: rgb(231, 5, 51);
       }
       50%{
        color: rgb(165, 8, 16);
       }
       75%{
        color: rgb(233, 8, 8);
       }
       100%{
        color: rgb(252, 3, 3);
       }
    }

}
@media only screen and (min-width: 992px){
    body{
        background: rgb(211, 210, 210);
        background-size: 1440px 1440px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        text-align: center;
    }
    form{
        width: 40%;
        height: 30%;
        background: rgb(228, 220, 220);
        border-radius: 18px;
        position: relative;
        margin-top:4%;
        left: 30%;
        box-shadow: 2px 2px 2px 2px white;
    }
    form>:nth-child(2){
        position: relative;
        left: -40%;
    }
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: gray;
        text-align: center;
        font-style: oblique;
        font-size: 1rem;
        margin-top: -0.8rem;
    }
    h2{
        font-family: cursive;
        font-style: oblique;
        font-size: 1.5rem;
    }
    a{
        text-decoration: none;
    }

    .input{
        border: 0.5rem thin gray;
        border-radius: 12px;
        background-color: transparent;
        color: black;
        font-size: 1.2rem;
        width: 75%;
        height: 3rem;
        margin-top: 2rem;
    }
    .input::placeholder{
        padding-left: 0.3rem;
    }
    .submit{
        border: none;
        border-radius: 12px;
        background-color: rgb(30, 33, 214);
        color: white;
        font-size: 1.2rem;
        text-align: center;
        width: 12rem;
        height: 3rem;
        margin-top: 1.2rem;
    }
    p.error{
        color: red ;
        font-size: 1rem;
        animation-name: error;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes error{
       0%{
        color: red;
       }
       25%{
        color: rgb(231, 5, 51);
       }
       50%{
        color: rgb(165, 8, 16);
       }
       75%{
        color: rgb(233, 8, 8);
       }
       100%{
        color: rgb(252, 3, 3);
       }
    }
}